.catalog-list {
  margin: 0;
  padding: 0;
}

.catalog-item-image {
  width: 300px;
  height: 450px;
  background-color: lightgray;
  border-radius: 5px;
}

.catalog-item-image img {
  border-radius: 5px;
}

.product-gallery {
  display: flex;
  width: 300px;
  border: 1px solid #cccccc;
  border-radius: 15px;
}

.product-gallery-prev,
.product-gallery-next {
  position: relative;
  width: 44px;
  padding: 0;
  font: inherit;
  border: 0;
  background-color: lightgray;
  cursor: pointer;
  outline: none;
}

.product-gallery-prev {
  border-radius: 15px 0 0 15px;
}

.product-gallery-next {
  border-radius: 0 15px 15px 0;
}

.product-gallery-prev:hover,
.product-gallery-next:hover,
.product-gallery-prev:focus,
.product-gallery-next:focus {
  background-color: #b1afaf;
}

.product-gallery-prev:active,
.product-gallery-next:active {
  background-color: gray;
}

.product-gallery-prev:active::before,
.product-gallery-next:active::before {
  border-color: rgba(255, 255, 255, 0.8);
}

.product-gallery-prev::before,
.product-gallery-next::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 25px;
  height: 25px;
  border: 5px solid white;
  border-radius: 5px;
}

.product-gallery-prev::before {
  border-top: 0;
  border-right: 0;
  transform: translate(-50%, -50%) translateX(5px) rotate(45deg);
}

.product-gallery-next::before {
  border-left: 0;
  border-bottom: 0;
  transform: translate(-50%, -50%) translateX(-5px) rotate(45deg);
}

.product-gallery-list-wrapper {
  width: 210px;
  padding: 10px;
  overflow: hidden;
}

.product-gallery-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  transition: transform 0.5s;
}

.product-gallery-item {
  flex-shrink: 0;
  width: 86px;
  height: 129px;
  margin-right: 19px;
  background-color: lightgray;
  border-radius: 5px;
}

.product-photo-full {
  width: 300px;
  height: 450px;
  background-color: lightgray;
  border-radius: 5px;
}

.product-photo-full img,
.product-gallery-item img {
  border-radius: 5px;
}

.open-gallery-modal {
  margin-top: 10px;
  border: 1px solid lightgray;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-top: 60px;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: auto;
}

.product-photos-modal {
  position: absolute;
  top: 60px;
  left: 50%;
  width: 100%;
  padding: 20px 0;
  background-color: white;
  border-radius: 5px;
  transform: translateX(-50%);
}

.modal-close {
  position: absolute;
  top: -60px;
  left: 50%;
  width: 50px;
  height: 50px;
  padding: 0;
  font: inherit;
  border: 0;
  background-color: lightgray;
  border-radius: 50%;
  transform: translateX(-50%);
  cursor: pointer;
}

.modal-close:hover,
.modal-close:focus {
  background-color: #b1afaf;
}

.modal-close:active {
  background-color: gray;
}

.modal-close::before,
.modal-close::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 5px;
  height: 25px;
  border-radius: 2px;
  background-color: black;
}

.modal-close::before {
  transform: translate(-50%, -50%) rotate(45deg);
}

.modal-close::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.product-photos-modal .product-photo-full {
  margin: 0 auto 20px;
}

.product-photos-modal .product-gallery {
  margin: 0 auto;
}
