.spinner-loader {
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 190px;
  margin: 0;
  overflow: hidden;
  transform: translate(-50%, -50%);

  img {
    animation-name: full_rotate;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    margin-bottom: 10px;
  }

  b {
    font-weight: 700;
  }
}
