$white: rgb(255, 255, 255);
$black: rgb(0, 0, 0);
$default_text: rgb(32, 32, 32);
$header_active: rgb(32, 32, 32);
$current_page_link: rgb(76, 76, 76);
$button_hover: rgb(32, 32, 32);
$button_active: rgb(76, 76, 76);
$button_disabled: rgba(0, 0, 0, 0.5);
$facebook: rgb(60, 90, 153);
$facebook_active: rgb(53, 80, 137);
$vkontakte: rgb(80, 106, 144);
$vkontakte_active: rgb(72, 95, 129);
$twitter: rgb(98, 169, 236);
$twitter_active: rgb(68, 152, 232);
$not_found_badge: rgb(255, 162, 0);
$slideshow_image: rgb(211, 211, 211);
$slideshow_image_header: rgba(0, 0, 0, 0.5);
$slideshow_button_hover: rgba(255, 255, 255, 0.9);
$slideshow_button_active: rgba(255, 255, 255, 0.5);
$slideshow_button_desktop: rgb(32, 32, 32);
$slideshow_button_desktop_hover: rgba(32, 32, 32, 0.9);
$slideshow_button_desktop_active: rgba(32, 32, 32, 0.5);
$catalog_item: rgb(211, 211, 211);
$catalog_item_header: rgba(0, 0, 0, 0.7);
$product_quantity_input_hover: rgba(0, 0, 0, 0.7);
$alert_info_color: rgb(12, 84, 96);
$alert_info_background: rgb(209, 236, 241);
$alert_info_border: rgb(190, 229, 235);
$alert_success_color: rgb(21, 87, 36);
$alert_success_background: rgb(212, 237, 218);
$alert_success_border: rgb(195, 230, 203);
$contact_list_item_background: rgb(211, 211, 211);
$error_color: rgb(255, 0, 0);
$contact_form_input_hover: rgba(0, 0, 0, 0.7);
$product_photo_background: rgb(211, 211, 211);
$product_gallery_border: rgb(211, 211, 211);
$product_gallery_control: rgb(211, 211, 211);
$product_gallery_control_hover: rgb(177, 175, 175);
$product_gallery_control_active: rgb(128, 128, 128);
$product_gallery_arrow_active: rgba(255, 255, 255, 0.8);
$modal_overlay_background: rgba(0, 0, 0, 0.5);
$modal_close: rgb(211, 211, 211);
$modal_close_hover: rgb(177, 175, 175);
$modal_close_active: rgb(128, 128, 128);
$toggle_purchase_order_form: rgb(211, 211, 211);
$purchase_image: rgb(211, 211, 211);
