.product-photos-modal {
  position: absolute;
  top: 90px;
  left: 50%;
  width: 320px;
  padding: 20px 10px;
  border-radius: 5px;
  background-color: $white;
  transform: translateX(-50%);
  animation-name: fade;
  animation-duration: 0.5s;

  .product-gallery {
    margin-bottom: 0;
  }
}
