.purchases-container {
  margin: 0 auto;
  width: 300px;
}

@include media_query("tablet") {
  .product-columns {
    display: flex;
    justify-content: space-between;
    width: map_get($breakpoints, "tablet");
    margin: 0 auto;
  }

  .purchases-container {
    width: map_get($breakpoints, "tablet");
  }
}

@include media_query("laptop") {
  .product-columns,
  .purchases-container {
    width: map_get($breakpoints, "laptop");
  }
}
